<html>
  <head>
    <title>{{truyện.tên}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  </head>

  <body>
    <div>
      <form method="POST">
        <input name="tim_chuong" placeholder="Tìm kiếm chuong" />
        <input type="submit" vlaue="Lọc" />
      </form>
      <button onclick="window.location.href='{{url_for('trang_chủ')}}'">
        Trang chủ
      </button>
    </div>
    <br />

    {% set filename = truyện.tên_folder + '/thumbnail.jpg' %}
    <div style="text-align: left;">
      <div style="display: inline-block;">
        <img
          src="{{ url_for('lấy_ảnh', filename=filename) }}"
          style="width: 350px; height: 500px; margin-right: 20px;"
        />
      </div>
      <div style="display: inline-block; vertical-align: top; font-size: larger; margin-top: 50px;">
        <h2>
          {{truyện.tên}} {% if current_user.name %}
          <a
            href="{{ url_for(
          'thêm_hoặc_xóa_vào_tủ_truyện',
          user_id=current_user.id,
          ten_folder=truyện.tên_folder,
          trang_hien_tai=url_for('đọc', ten_folder=truyện.tên_folder)) }}"
            method="post"
          >
            <button style="font-size: 17px;">
              {% if truyện.tên_folder in current_user.tu_truyen %} ❤️ đã thêm vào tủ truyện {% else %} 🖤 chưa thêm vào
              tủ truyện {% endif %}
            </button>
          </a>
          {% endif %}
        </h2>
        <p>
          Tác giả: <b>{{truyện.tác_giả}}</b>
          <br />
          Thể loại: <b>{{', '.join(truyện.thể_loại)}}</b>
          <br />
          Yêu thích: {{truyện.điểm * '🧡'}}{{(10-truyện.điểm) * '🤍'}}
        </p>
        <p>
          Số chương <b>{{truyện.chương|length}}</b>
          <br />
          {% if truyện.tên_folder in current_user.last_read %} {% set chuong = current_user.last_read[truyện.tên_folder]
          %}
          <button
            onclick="window.location.href='{{url_for(
            'đọc_chương',
            ten_folder=truyện.tên_folder, 
            chuong=chuong)}}'"
            style="font-size: 17px;"
          >
            Tiếp tục đọc chương <b>{{chuong}}</b>
          </button>
          {% endif %}
        </p>
      </div>
    </div>

    {% if truyện_gợi_ý %}
    <h2>Gợi ý các truyện cùng tác giả <b>{{truyện.tác_giả}}</b></h2>
    <table class="ui grid" id="{{filename}}">
      <tbody>
        {% for dòng_truyện in truyện_gợi_ý %}
        <tr>
          {% for truyện in dòng_truyện %} {% if truyện %} {% set filename = truyện.tên_folder + '/thumbnail.jpg' %}
          <td class="four wide column" style="vertical-align: top;">
            <a href="{{ url_for('đọc', ten_folder=truyện.tên_folder) }}" method="post">
              <p>
                <img
                  src="{{ url_for('lấy_ảnh', filename=filename) }}"
                  style="width: 175px; height: 250px; margin-right: 20px;"
                /> </p
              ><h3 style="max-width: 175px;">
                {{truyện.tên}}
              </h3>
            </a>
          </td>
          {% endif %} {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %} {% if truyện_gợi_ý_tl %}
    <h2>Gợi ý các truyện cùng thể loai</h2>
    <table class="ui grid" id="{{filename}}">
      <tbody>
        {% for dòng_truyện in truyện_gợi_ý_tl %}
        <tr>
          {% for truyện in dòng_truyện %} {% if truyện %} {% set filename = truyện.tên_folder + '/thumbnail.jpg' %}
          <td class="four wide column" style="vertical-align: top;">
            <a href="{{ url_for('đọc', ten_folder=truyện.tên_folder) }}" method="post">
              <p>
                <img
                  src="{{ url_for('lấy_ảnh', filename=filename) }}"
                  style="width: 175px; height: 250px; margin-right: 20px;"
                /> </p
              ><h3 style="max-width: 175px;">
                {{truyện.tên}}
                <br />
                {{truyện.điểm * '🧡'}}{{(10-truyện.điểm) * '🤍'}}
              </h3>
            </a>
          </td>
          {% endif %} {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    <h2>Danh sách chương</h2>

    <table class="ui grid" id="{{filename}}">
      <tbody>
        {% for dòng_chương in danh_sách_chương %}
        <tr>
          {% for chương in dòng_chương %} {% if chương %} {% set filename = truyện.tên_folder + '/' + chương + '/1.jpg'
          %}
          <td class="four wide column">
            <a
              href="{{ url_for('đọc_chương', ten_folder=truyện.tên_folder, chuong=chương.replace('chapter-', '')) }}"
              method="post"
            >
              <p>
                <img
                  src="{{ url_for('lấy_ảnh', filename=filename) }}"
                  style="width: 150px; height: 225px; margin-right: 10px;"
                />
              </p>
              <h3>{{chương}}</h3>
            </a>
          </td>
          {% endif %} {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if current_user.is_authenticated %}
    <form action="{{ url_for('thêm_bình_luận', ten_folder=truyện.tên_folder) }}" method="POST">
      <input name="content" placeholder="Bình luận . . ." />
      <input type="submit" value="Đăng bình luận" />
    </form>

    {% for comment in comments %}
    <ul style="font-size: x-large;">
      <li>
        <img src="{{ url_for('lấy_avatar', user_id=comment.user_id) }}" style="width: 35px; height: 35px;" />
        {{comment.time}}
        <br />
        {{comment.content}}
      </li>
    </ul>
    {% endfor %} {% endif %}
  </body>
</html>
